@import '../../../styles/index.scss';

.container { 
    background-color: $background_light;
}

.navItem {
    padding: 0 20px;
    margin: 0 20px;
    border: 1px solid white;
    a {
        color: white;
    }
}

.label {
    margin-right: 10px;
}