@import '../../../styles/colors.scss';

.container {
    width: 600px;
    max-height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background_light;
    border-radius: 10px;
    padding: 40px 0;
}

.wrapper {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.tilesContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
}

.dropdown {
    position: sticky;
    top: 0;
}

.loader {
    width: 700px;
    height: 70vh;
    background-color: $background_light;
    border-radius: 10px;
}